
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main-content"> 
        {{>headers}}
        <p>This website is created by Jihan Hassan</p>
        <img src="/img/robot.png">
    </div>
    {{>footer}}
</body>

</html>